header{
	background-color:#AB1346;	
	
}
.head-1{
background-color:#AB1346;	

}
.head-1 a{
	text-decoration:none;
	color:white;
		
}

.notice{
	
	background-color:#1c18f4;
	width:95px;
	height:40px;
	float:left;
	text-align:center;
	font:22px;
	font-family: "Montserrat", sans-serif;
	line-height:40px;
	
}
.notice-p{
	 font-family: "Montserrat", sans-serif;
	
}
.blinker-1{
		
		            height:9px;
					width:9px;
					background-color:blue;
					
					transform:translateX(83px);
					margin-top:-38px;
					border-radius:50%;
					animation:blinkc;
					animation-duration:600ms;
					animation-direction:ease-in-out ;
					animation-iteration-count:infinite;
					box-shadow: red;
		}
		@keyframes blinkc{
		         0%{
				 background-color:blue;
				   }
		         100%{
				 background-color:#0cff00;
				 
				    }
		        }


.email{
float:right;	
	
}
.email p{

	font:20px bold;
	color:white;
	padding-top:10px;
	 font-family: "Montserrat", sans-serif;
}
.last-update{
	padding-left:10px;
}
.last-update p{
	font:18px bold;
	color:white;
	padding-top:10px;
	 font-family: "Montserrat", sans-serif;
}
.fa-last{
	padding-left:20px;
}
.c2-deatils{
	
	text-align:center;

}

nav{
	background-color: #AB1346!important;
}
.nav-container {
  margin: 0 60px 0 60px !important;
}

.navbar {
  text-transform: uppercase !important;
  font-size: 14px !important;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.nav-link {
  color: white !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  /*    text-align: center;*/
}

.navbar-nav .nav-link:hover {
  background-color: white;
  color: #AB1346 !important;
  transition: all 0.2s ease-in;
}
.nav-item {
  padding: 0 10px 0 10px;
}
.navbar i {
  color: white;
  border: white !important;
}

.nav-bg {
  background-color:#AB1346 !important;
  justify-content:center;
}

.dropdown-menu {
  background-color: #AB1346;
  border: none;
}

.dropdown-item {
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-top: solid 0px #efefef;
  /*    text-align: center;*/
  width: 100% !important;
}
.fa-calendar-o{
	color:#AB1346;
}
.details p{
	color:#AB1346;
}
.about-1{
	background-color:#AB1346;
	
}

.pr-heading{
	padding-left:10px;
	
}
.prin-img {
  float: left;
  height: 200px;
  width: 182px;
  margin-right: 5px;
}
.msg {
  font-size: 20px;
  color: #20232e;
  letter-spacing: 0.5px;
}

.pname {
  font-size: 16px;
  font-weight: bold;
}
.heading{
	padding: 5px 0 5px 8px;
  border-left: 5px solid #AB1346;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
	

}
.notice-board p {
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5px 0 5px 0;
  background-color: #AB1346;
}

marquee {
  max-height: 280px;
}
.box{
	
}
.card-of-4{
	background-color:white !important;
	margin:0 auto;
	
}
#card-of-4{
	background-color:white !important;
	padding-bottom:30px;
	padding-top:30px;
}
#card-of-container{
	background-color:white !important;
}
.card-title{
	text-align:center;
	padding-top:10px;
}
.card p1{
	text-align:center;
	margin-top:-20px;
	background-color:rgba(0,0,0,0);
}
.card p{
	font-size:15px;
}
.card-img-top{
	background-color:white !important;
	height:90px !important;
	width:86px !important;
	margin:0 auto;
	padding-top:9px;
	border-radius:50% !important;
	transition:all 1s ease-in-out
}
.card:hover .card-img-top{
	transform:rotate(360deg)!important;
	
}
.card{
	
	cursor:pointer !important;
    border:1px solid black !important;
	
}
.card:hover{
	box-shadow:1px 1px 10px 1px;
}

#card-4-button{
	
	background-color:#AB1346 !important;
		color:white !important;
	border:none;
}
		  
	.card-body, .card-body p, h5 {
background-color:white !important;
border-radius:20px;
	}	
	#card-white{
		background-color:white !important;
	}
	.card-footer{
		
	background-color:white !important;
	margin:0 auto !important;
	
	
	
}

#card-plus{
	font-size:30px;
	padding-top:190px;
}
.fotter-head{
	color:gold;
	border-left: 5px solid white;
	padding-left:10px;
	font:30px bold;
	
}
.fotter{
				  background-color:#3B3D48 !important;
			  }
	#enquiries{
		font-family: 'Nunito Sans', sans-serif;
      font-size:60px;
background-color:#3B3D48 !important;
color:white;
border-bottom:2px solid white;
	}	
			  
#fotter-11{
	background-color:#3B3D48 !important;
	border-bottom:2px solid white;
}

.f1{
	background-color:#3B3D48 !important;
	color:yellow;
	margin-top:10px;
	 font-family: "Montserrat", sans-serif;
	 font-size:7px;
	
}
.f1 p1{
	background-color:#3B3D48 !important;
	font-size:29px ;
	 font-family: "Montserrat", sans-serif;
}
.f1 img{
	height:60px;
	width:60px;
	border-radius:10px 10px;
}
.f2{
	background-color:#3B3D48 !important;
	color:yellow;
	margin-top:10px;
	 font-family: "Montserrat", sans-serif;
	 font-size:10px;
}
.f2 p1{
	background-color:#3B3D48 !important;
	 font-family: "Montserrat", sans-serif;
	 font-size:29px;
}
.f2 ul{
			background-color:#3B3D48 !important;
		      margin-top:-6px;
		      
			  list-style:none;
 		      padding-left:6px;
			  
 		      }
		.f2 ul li{
		          background-color:#3B3D48 !important;
				 padding-bottom:3px;
		
		         }
		.f2 ul li a{
		          color:white;
				  text-decoration:none;
				   font-family: "Montserrat", sans-serif;
				  font-size:19px;
		             
		         }
		.f2 ul li a:hover{
		          color:rgba(255,255,255,0.6);
				  text-decoration:none;
				
		
		         }
.f3{
	background-color:#3B3D48 !important;
	color:yellow;
	margin-top:10px;
	font-size:11px ;
	font-family: Open Sans;
}
.f3 p1{
	background-color:#3B3D48 !important;
	 font-family: "Montserrat", sans-serif;
	 font-size:29px;
}
.f3 ul{
			background-color:#3B3D48 !important;
		      margin-top:-6px;
		      
			  list-style:none;
 		      padding-left:6px;
			  
 		      }
		.f3 ul li{
		          background-color:#3B3D48 !important;
				 padding-bottom:3px;
		
		         }
		.f3 ul li a{
		          color:white;
				  text-decoration:none;
				   font-family: "Montserrat", sans-serif;
				  font-size:19px;
		             
		         }
		.f3 ul li a:hover{
		          color:rgba(255,255,255,0.6);
				  text-decoration:none;
				
		
		         }
.f4{
	background-color:#3B3D48 !important;
	color:yellow;
	margin-top:10px;
	 font-family: "Montserrat", sans-serif;
				  font-size:1px;
	cursor:default;
}

.f4 p2{
	
	             color:yellow;
				 text-decoration:none;
				 font-family: "Montserrat", sans-serif;
				  font-size:25px;
				  background-color:#3B3D48 !important;
}
 .f4 p0{
       font-size:19px;
	    background-color:#3B3D48 !important;
				  background-color:#3B3D48 !important;
 	  background-color:#3B3D48 !important;
                 ;
	             color:white;
				 text-decoration:none;
				
}


#copyright-up{
	height:10px;
	background-color:#3B3D48 !important;
	
}
#copyright{
             background-color:#3B3D48 !important;
                 font-size:20px;
             	color:white;
				 text-decoration:none;
				 font:verdana;
	           text-align:center;
}
#copyright p0{
	 background-color:#3B3D48 !important;
                 font-family: 'Nunito Sans', sans-serif;
				  font-size:19px;
             	color:white;
}
#copyright a{
	 
				 text-decoration:none;
				 color:white;
				 font-family: 'Nunito Sans', sans-serif;
				  font-size:18px;
}
#copyright a:hover{
	 color:yellow;
}

 
	 
@media(max-width:1070px) {

.blinker-1{
		
		            height:9px;
					width:9px;
					background-color:blue;
					
					transform:translateX(83px);
					margin-top:-38px;
					border-radius:50%;
					animation:blinkc;
					animation-duration:600ms;
					animation-direction:ease-in-out ;
					animation-iteration-count:infinite;
					box-shadow: red;
		}
	
	 #card-plus{
	display:none;
	
}
}